@charset "UTF-8";
/*
# = Id
. = Class
: = Pseu-class
:: = Pseu-Element
> = clildren (Filho)  
 */
body{
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: red;
    font-weight: bold;
}

/* VISITED: é uma pseudoclass onde mostra a cor Azul nos
site que ja foram visitados, coso não tenha sido visitado
continuaria com a cor estilizada acima que no caso é red (vermelho) */
a:visited{
    color:blue;
}

a:hover{
    color: black;
    text-decoration: underline;
}

/* ACTIVE: É uma Pseudo-classe quem muda a cor da fonte quando o link esta sendo clicado, então quando vc clica no link ele muda de cor */
a:active{
    color: cyan;
}
/* AFTER: É uma pseu-elemento que quer diser depois entao tudo que estiver dentro da estilização AFTER acontecera depois do elemento  */
a::after{
    content: ' [Link]';
    text-decoration: none;
    color: dodgerblue;
    font-weight:normal;
}