
/* Essa é uma estilização em CSS3, chamada de estilização local, essa estilização é 
feita dentro do HEAD do HTML5 que facilita para separação do que é HTML e do que é CSS.

Essa tecnica é recomendavel para apena 1 documento, apartir de 2 ou 3 documento é recomendavel
a utilização da estilização externa

Diferente da inline que é feito direto na linha do HTML que deseja ser estilizada e nesse caso 
é feita uma por vez, se tiver 30 linha para estilizar tera que fazer uma por vez.*/
@charset "UTF-8";
body{            
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: darkgreen ;
    background-color: lightblue;
}
p{
    text-align: justify;
}
h2{
    color:darkblue;
    background-color: lightblue;
}
